@{
    ViewBag.Title = "About";// Заголовок. В мастер-страницу он тоже уедет
    //Layout = "/Views/Shared/_Layout.cshtml";// К какой мастер-странице будет подключаться это представление. В данном случае можно это не указывать и будет использоваться глобальная мастер-страница (т. к. есть файл _ViewStart.cshtml, определяющий мастер-страницу)
}
<h3>About Content</h3><!-- Собственно, сам вставляемый код -->