@* @using namespase - вместо такого ручного подключения неймспейсов в каждом представлении, можно определить все используемые неймспейсы в файл _ViewImports.cshtml. Если сделать это в папке представлений, то эти неймспейсы будут подключаться для всех представлений, для которых нет файла _ViewImports.cshtml в их папке представлений контроллера *@
@{
    ViewBag.Title = "Index";// Заголовок. В мастер-страницу он тоже уедет
    //Layout = "/Views/Shared/_Layout.cshtml";// К какой мастер-странице будет подключаться это представление. В данном случае можно это не указывать и будет использоваться глобальная мастер-страница (т. к. есть файл _ViewStart.cshtml, определяющий мастер-страницу)
}
<h3>Index Content</h3><!-- Собственно, сам вставляемый код -->